---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Impressum</title>
  </head>
  <body>
    <h1>Impressum</h1>
    <h2>Angaben gemäß § 5 TMG:</h2>
    <p>craftlions UG (haftungsbeschränkt)<br /></p>
    <h3>Postanschrift:</h3>
    <p>Amandus-Voigt-Str. 8<br />23617 Stockelsdorf<br /></p>
    <h3>Kontakt:</h3>
    <p>Telefon: <br />E-Mail: hey@craftlions.com</p>
    <p></p><h3>Vertreten durch:</h3>
    <p>Geschäftsführer: Alexander Niebuhr<br /></p>
    <p></p><p><br /></p>
    <p></p><h2>Hinweise zur Website</h2>
    <p></p><h3>Verantwortlich für journalistisch-redaktionelle Inhalte ist:</h3>
    <p>Alexander Niebuhr, Amandus-Voigt-Str. 8, 23617 Stockelsdorf<br /></p>
    <p></p><h2>Information gemäß § 36 VSBG</h2>
    <p>
      Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die
      alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber
      dieser Website:
    </p>
    <p>
      Wir sind bereit, an Streitbeilegungsverfahren bei der folgenden
      Verbraucherschlichtungsstelle teilzunehmen:
    </p>
    <p></p><h2>Hinweis</h2>
    <p>
      Die Plattform der EU zur außergerichtlichen Streitbeilegung finden Sie
      online unter: <a href="https://ec.europa.eu/consumers/odr/"
        >https://ec.europa.eu/consumers/odr/</a
      >
    </p>
    <p></p><p>
      <em
        >Das Impressum wurde mit dem <a
          href="https://www.activemind.de/datenschutz/generatoren/impressum/"
          >Impressums-Generator der activeMind AG</a
        > erstellt.</em
      >
    </p>
  </body>
</html>
