---
import { Icon } from "astro-icon/components";
---

<section>
  <h2 style="text-align: center;">Comparison</h2>
  <p style="text-align: center;">
    Explore our subscription solutions and find the perfect plan designed to
    meet diverse needs, including our enterprise option tailored for individual
    requirements.
  </p>
  <div>
    <span>Feature</span>
    <span>Lite</span>
    <span>Scale</span>
    <span>Pro</span>
    <!-- <span>enterprise</span> -->
    <span>Unlimited queued requests</span>
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <!-- <Icon name="solar:check-circle-bold" /> -->
    <span>Unlimited login seats</span>
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <!-- <Icon name="solar:check-circle-bold" /> -->
    <span>Ticket triage</span>
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <!-- <span style="color: var(--neutral-800)">custom</span> -->
    <span>Technical Advisory</span>
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <!-- <Icon name="solar:question-circle-bold-duotone" /> -->
    <span>Pause subscription</span>
    <Icon name="solar:close-circle-line-duotone" />
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <!-- <Icon name="solar:question-circle-bold-duotone" /> -->
    <span>Pull-Request Reviews</span>
    <Icon name="solar:close-circle-line-duotone" />
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <!-- <Icon name="solar:question-circle-bold-duotone" /> -->
    <span>Priority response time</span>
    <Icon name="solar:close-circle-line-duotone" />
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <!-- <Icon name="solar:question-circle-bold-duotone" /> -->
    <span>Refer & Earn</span>
    <Icon name="solar:close-circle-line-duotone" />
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <!-- <Icon name="solar:question-circle-bold-duotone" /> -->
    <span>Coding</span>
    <Icon name="solar:close-circle-line-duotone" />
    <Icon name="solar:close-circle-line-duotone" />
    <Icon name="solar:check-circle-bold" />
    <!-- <Icon name="solar:question-circle-bold-duotone" /> -->
    <span>Cancel anytime</span>
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <Icon name="solar:check-circle-bold" />
    <!-- <Icon name="solar:check-circle-bold" /> -->
  </div>
</section>
<style>
  section {
    --grid-max-width: 92.5rem;
  }

  h2 {
    font-size: var(--step-3);
    font-weight: 700;
    line-height: 120%;
  }

  div {
    --grid-max-width: 72.5rem;
    --grid-gutter: var(--space-s-l);
    --grid-columns: 12;
    max-width: var(--grid-max-width);
    padding: var(--grid-gutter);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gutter);

    min-width: min-content;
    font-size: var(--step--1);
    align-items: center;
    justify-items: center;
  }
</style>
