---

---

<section>
  <h2>Innovate. Subscribe. Succeed.</h2>
  <p>
    craftlions revolutionizes IT services with unmatched passion and dedication.
    Say goodbye to unreliable freelancers and overpriced agencies. For a flat
    monthly fee, enjoy top-tier IT solutions with remarkable delivery times and
    exceptional quality. Discover the craftlions difference today - it's IT
    services reimagined to exceed your expectations. Explore our innovative
    approach now. Pause or cancel anytime!
  </p>
  <a href="/#plans">
    <button>
      <!-- <svg aria-hidden="true">...</svg> -->
      <span>Get started!</span>
    </button>
  </a>
</section>

<style>
  section {
    display: flex;
    max-width: 92.5rem;
    flex-direction: column;
    align-items: center;
    padding: var(--space-2xl-3xl) var(--space-l-xl);
    background-image: radial-gradient(
      circle,
      light-dark(var(--neutral-200), var(--neutral-800)) 2px,
      transparent 2px
    );
    background-position: center center;
    background-size: 2.5rem 2.5rem;
    color: light-dark(black, white);
    margin-inline: auto;
    row-gap: var(--space-m-l);
    text-align: center;
  }

  h2 {
    font-family: Inter, sans-serif;
    font-size: var(--step-5);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  p {
    font-family: Inter, sans-serif;
    font-size: var(--step-1);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid light-dark(var(--blue-100), var(--blue-900));
    border-radius: var(--space-3xs);
    background-color: light-dark(var(--blue-400), var(--blue-600));

    /* box-shadow:
    var(--_shadow-2),
    var(--_shadow-depth),
    0 0 0 var(--_hightlight-size) var(--_highlight); */
    color: light-dark(black, white);
    cursor: pointer;
    font: inherit;
    font-size: var(--step-2);
    font-weight: 700;
    gap: 1ch;
    letter-spacing: inherit;
    line-height: 120%;
    padding-block: var(--space-2xs);
    padding-inline: var(--space-xs);
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    -webkit-touch-callout: none;
    user-select: none;

    /* text-shadow: var(--_ink-shadow); */

    @media (prefers-reduced-motion: no-preference) {
      transition:
        box-shadow 145ms ease,
        outline-offset 145ms ease;
    }

    &:where([data-icon]) {
      flex-shrink: 0;
      block-size: 2ch;
      fill: none;
      inline-size: 2ch;
      stroke: white;
      stroke-linecap: round;
      stroke-linejoin: round;

      /* filter: drop-shadow(var(--_ink-shadow)); */
    }

    &:where(:not(:active)) {
      &:focus-visible {
        outline-offset: 5px;
      }
    }

    /* &:is(:hover, :focus) {
    } */
  }
</style>
