---
interface Props {
	type: "info" | "success" | "error";
}

const { type } = Astro.props;
---

<span
	class="inline-grid w-max place-items-center whitespace-nowrap border border-dashed bg-transparent px-2.5 py-1 text-xs/none font-semibold capitalize"
	class:list={[
		{
			"border-emerald-400 text-emerald-700 dark:border-emerald-700 dark:text-emerald-300":
				type === "success",
			"border-red-400 text-red-700 dark:border-red-700 dark:text-red-300":
				type === "error",
			"border-sky-300 text-sky-700 dark:border-sky-700 dark:text-sky-300":
				type === "info",
		},
	]}
>
	<slot />
</span>
