---
interface Props {
	type: "info" | "success" | "error";
}

const { type } = Astro.props;
---

<span
	class="inline-grid w-max place-items-center whitespace-nowrap rounded border px-2.5 py-1 text-xs/none font-semibold capitalize"
	class:list={[
		{
			"border-emerald-200 bg-emerald-50 text-emerald-800 dark:border-emerald-800/80 dark:bg-emerald-950/50 dark:text-emerald-200":
				type === "success",
			"border-red-200 bg-red-50 text-red-800 dark:border-red-800/80 dark:bg-red-950/50 dark:text-red-200":
				type === "error",
			"border-cyan-200 bg-cyan-50 text-cyan-800 dark:border-cyan-800/80 dark:bg-cyan-950/50 dark:text-cyan-200":
				type === "info",
		},
	]}
>
	<slot />
</span>
