---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
	href?: string;
	rel?: string;
	target?: string;
}

const { type = "button", class: className, href, ...attrs } = Astro.props;

const baseClass =
	"inline-grid w-max cursor-pointer grid-flow-col items-center justify-center gap-2 border border-dashed border-neutral-300 bg-transparent px-3 py-1 text-sm font-medium text-neutral-900 transition-colors hover:border-neutral-500 hover:bg-neutral-100 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-700 disabled:cursor-not-allowed disabled:opacity-50 dark:border-neutral-700 dark:text-neutral-100 dark:hover:border-neutral-500 dark:hover:bg-neutral-900 dark:focus-visible:outline-neutral-300";
---

{href ? (
	<a href={href} class:list={[baseClass, className]} {...attrs}>
		<slot />
	</a>
) : (
	<button class:list={[baseClass, className]} type={type} {...attrs}>
		<slot />
	</button>
)}
