---
import Button from "./Button.astro";

const session = await Astro.locals.auth.api.getSession({
	headers: Astro.request.headers,
});
---

{session ? <Button href="/dash">Dashboard</Button> : <Button href="/login">Login</Button>}
