---
import Button from "./Button.astro";

const session = await Astro.locals.auth.api.getSession({
	headers: Astro.request.headers,
});
---

{session ? (
  <a href="/dash">
    <Button type="button">
      Dashboard
    </Button>
  </a>
) : (
  <a href="/login">
    <Button type="button">
      Login
    </Button>
  </a>
)}
