---
import LogoWithTextVertical from "../assets/logoWithTextVertical.svg";
---

<footer
	class="grid grid-cols-4 gap-4 items-center justify-items-center bg-neutral-850 px-4"
>
	<section
		><a href="/"><LogoWithTextVertical class="w-20" /></a></section
	>
	<p class="col-span-2">
		Discover if craftlions works for you. (We think it does.) Explore our
		platform with a personalized demo and see how we can revolutionize your tech
		processes.
	</p>
	<section>
		<ul>
			<li><a href="mailto:alexander@craftlions.com">Contact</a></li>
			<li><a href="https://github.com/craftlions">GitHub</a></li>
			<li>
				<a href="https://www.linkedin.com/company/craftlions">LinkedIn</a>
			</li>
			<li><a href="/imprint">Imprint</a></li>
		</ul>
	</section>
	<p class="col-span-4 py-4 text-sm text-neutral-500">
		&copy; 2026 Craftlions. All rights reserved.
	</p>
</footer>
