---
import Button from "./Button.astro";
import LogoutButton from "./LogoutButton.astro";

const session = await Astro.locals.auth.api.getSession({
	headers: Astro.request.headers,
});
---

<li>
	<ul class="grid grid-flow-col auto-cols-max items-center gap-2">
		{session ? (
				<>
					<li>
						<Button href="/dash">
							Dashboard
						</Button>
					</li>
					<li>
						<Button href="/settings/profile">
							Profile
						</Button>
					</li>
					{session.user.role === "admin" && (
							<li>
								<Button href="/admin">
									Admin
								</Button>
							</li>
					)}
					<li>
						<LogoutButton />
					</li>
				</>
			) : (
				<li>
					<Button href="/login">
						Login
					</Button>
				</li>
			)}
	</ul>
</li>
