---
import LogoWithTextVertical from "../assets/logoWithTextVertical.svg";
import Shell from "./Shell.astro";
---

<Shell>
	<Fragment slot="head"> <slot name="head" /> </Fragment>
	<Fragment slot="body">
		<header>
			<slot name="header" />
		</header>

		<main class="flex-1 w-full flex flex-col min-h-0">
			<slot name="main" />
		</main>
		<footer
			class="grid grid-cols-4 gap-4 items-center justify-items-center bg-neutral-850 px-4"
		>
			<section>
				<LogoWithTextVertical class="w-20" />
			</section>
			<p class="col-span-2">
				Discover if craftlions works for you. (We think it does.) Explore our
				platform with a personalized demo and see how we can revolutionize your
				tech processes.
			</p>
			<section>
				<ul>
					<li> <a href="/contact">Contact</a> </li>
					<li> <a href="/tos">Datenschutzerklärung</a> </li>
					<li> <a href="/imprint">Impressums</a> </li>
					<li> <a href="https://github.com/craftlions">GitHub</a> </li>
					<li>
						<a href="https://www.linkedin.com/company/craftlions">LinkedIn</a>
					</li>
				</ul>
			</section>
			<span class="col-span-4 flex justify-center py-4 text-sm text-neutral-500"
				>© 2024. All Rights Reserved</span
			>
		</footer>
	</Fragment>
</Shell>
