---
import "../styles/global.css";
import BrowserWarning from "../components/BrowserWarning.astro";

const lang = Astro.currentLocale;
---

<html lang={lang ?? "en"}>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator}>

		<style is:inline>
			@media (prefers-reduced-motion: no-preference) {
				@view-transition {
					navigation: auto;
				}
			}
		</style>

		<slot name="head" />
		<link rel="sitemap" href="/sitemap-index.xml">
	</head>
	<body>
		<BrowserWarning />
		<slot name="body" />
	</body>
</html>
