---
export const prerender = false;

import LogoWithTextVertical from "../../assets/logoWithTextVertical.svg";
import Footer from "../../components/Footer.astro";
import LogoutButton from "../../components/LogoutButton.astro";
import Shell from "../../layouts/Shell.astro";

const session = await Astro.locals.auth.api.getSession({
	headers: Astro.request.headers,
});

if (!session) {
	return Astro.redirect("/login");
}

if (session.user.role !== "admin") {
	return Astro.redirect("/dash");
}
---

<Shell>
	<Fragment slot="head"> <title>craftlions | Admin Overview</title> </Fragment>
	<Fragment slot="body">
		<body
			class="min-h-dvh grid grid-rows-[auto_1fr_auto] bg-neutral-50 dark:bg-neutral-950 dark:text-neutral-50 text-neutral-950 antialiased gap-6 p-4 text-pretty"
		>
			<header class="grid gap-6 max-w-3xl mx-auto w-full">
				<nav class="grid grid-cols-[1fr_auto_1fr] w-full items-center">
					<LogoWithTextVertical
						class="h-10"
						style="view-transition-name: nav-logo;"
					/>
					<section class="justify-self-end col-start-3">
						<LogoutButton />
					</section>
				</nav>
			</header>

			<main
				class="w-full grid content-start min-h-0 pl-3 max-w-3xl mx-auto gap-6"
			>
				<h1 class="font-black text-3xl border-l-2 pl-3 border-l-cyan-500">
					Admin Overview
				</h1>
				<a
					href="/admin/projects"
					class="justify-self-start px-3 py-1 border transition-colors border-dashed rounded cursor-pointer border-neutral-200 hover:bg-neutral-200 hover:border-neutral-400 text-neutral-900 dark:border-neutral-800 dark:hover:bg-neutral-800 dark:hover:border-neutral-600 dark:text-neutral-100"
				>
					Projects
				</a>
			</main>
			<Footer />
		</body>
	</Fragment>
</Shell>
