---
export const prerender = false;

import Button from "../../components/Button.astro";
import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";
import Shell from "../../layouts/Shell.astro";

const session = await Astro.locals.auth.api.getSession({
	headers: Astro.request.headers,
});

if (!session) {
	return Astro.redirect("/login");
}

if (session.user.role !== "admin") {
	return Astro.redirect("/dash");
}
---

<Shell>
	<Fragment slot="head"> <title>craftlions | Admin Overview</title> </Fragment>
	<Fragment slot="body">
		<body
			class="min-h-dvh grid grid-rows-[auto_1fr_auto] bg-neutral-50 dark:bg-neutral-950 dark:text-neutral-50 text-neutral-950 antialiased gap-6 p-4 text-pretty"
		>
			<header class="grid gap-6 max-w-3xl mx-auto w-full"> <Nav /> </header>

			<main
				class="w-full grid content-start min-h-0 pl-3 max-w-3xl mx-auto gap-6"
			>
				<h1
					class="border-l border-dashed border-neutral-400 pl-3 text-3xl font-semibold leading-tight dark:border-neutral-600"
				>
					Admin Overview
				</h1>
				<Button href="/admin/projects" class="justify-self-start">
					Projects
				</Button>
			</main>
			<Footer />
		</body>
	</Fragment>
</Shell>
